@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  color: #ffffff !important;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #101010; /* Black background */
  color: #ffffff; /* White text */
}

a {
  color: #cccccc; /* Light gray link color */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #333333; /* Dark gray border color */
}

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("../public/fonts/AvenirNext.ttf");
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: hsl(0, 0%, 6%, 0.1) !important; /* Semi-transparent background color for navigation */
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.greyC {
  filter: grayscale(100%); /* Convert image to grayscale */
  transition: 0.4s;
}

.greyC:hover {
  filter: none; /* Remove grayscale effect on hover */
  transition: 0.4s;
}
